.p-home-page{
  .p-search-bar{
    padding-right: 240px;
    .at-search-bar__action{
      display: none;
    }
  }
  .p-map{
    width: 100vw;
    height: 60vh;
    .refresh{
      position: absolute;
      // left: 0;
      right: 2%;
      bottom: 2%;
      // top: 0;
      width: 70px;
      height: 70px;
    }
  }
  .p-tabs{
    .p-tabs-pane{
      min-height: calc(100vh - 345px);
      max-height: calc(100vh - 345px);
      overflow-y: auto;
    }
  }
}